* {
    box-sizing: border-box;
}

/* font-family: 'Inter', sans-serif; */

body {
    background-color: #0B2434;
    margin: 0;
    font-family: 'Karla', sans-serif;
    padding: 20px;
}

.App {
    background-color: #F5F5F5;
    max-width: 800px;
    width: 100%;
    height: 333px;
    margin: 0 auto;
    border-radius: 6px;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.App .roll-btn {
    background-color: #5035FF;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    font-size: 1.3rem;
    line-height: 19px;
    padding: 0.7em 1.5em;
    cursor: pointer;
}

.App .roll-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.dice-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.Die {
    cursor: pointer;
    background-color: #ffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    font-weight: 700;
    font-size: 2rem;
    line-height: 25px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}